<div class="announcements-view">
  <h1>{{pageTitle}}</h1>
  {{#if announcements.length}}
  <ul class="announcements-list">
    {{#each announcements}}
    <li class="announcement-post">
      <p>
        {{this.announcement}}<br>
        {{this.comment}}<br>
        <i id="date">{{this.currentDate}}</i>
      </p>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No Announcements Yet!</p>
  {{/if}}
</div>