<div class="household-view">
    <h1>The {{user.householdName}} Household</h1>
    <div class="household-info">
        <p>This week's shopper is: <strong>{{house.shopper}}</strong>!<br>
            They will be responsible for shopping for the groceries on the <strong>community</strong> list for the
            entire
            household.</p>
        <h2><strong>Members</strong></h2>
        <ul class="members-list">
            {{#each members}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="grocery-info">
        <h2 class="grocery"><strong>Groceries</strong></h2>
        <a href="/groceryLists/new"><strong>Create New Grocery List</strong></a>

        <form action="/household/searchLists" method="GET">
            <label for="itemName">Search Lists by Item Name:</label>
            <input type="text" id="itemName" name="itemName" placeholder="Enter item name">
            <button type="submit">Search</button>
        </form>

        {{#if groceryLists.length}}
        <div class="grid-container">
            {{#each groceryLists}}
            <div>
                <a href="/groceryLists/{{this._id}}">
                    <div class="grid-item">
                        <h2>{{this.groceryName}}</h2>
                        <p>Type: {{this.listType}}</p>
                        <p>Created By: {{this.userName}}</p>
                        <p><i>{{this.dateCreated}}</i></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>Your Household Has No Lists, Make Some Now!</p>
        {{/if}}
    </div>
</div>