<div class="form">
    <h1>{{pageTitle}}</h1>
    <div class="editItem">
        <p> Insert information in fields you would like to modify.</p>
        <form action="/items/editItem/{{itemId}}?listId={{listId}}" method="POST" class="editItem-form" id="editItem">
            <input type="hidden" id="listId" name="listId" value="{{listId}}">
            <input type="hidden" id="itemId" name="itemId" value="{{itemId}}">
            <label for="itemName">Item Name:</label><br>
            <input type="text" id="itemName" name="itemName" value="{{oldData.itemName}}"><br>
            <label for="quantity">Quantity:</label><br>
            <input type="number" id="quantity" name="quantity" value="{{oldData.quantity}}"><br>
            <label for="priority">Priority:</label><br>
            <select id="priority" name="priority" value = {{oldData.priority}}>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select><br>
            <label for="category">Category:</label><br>
            <input type="text" id="category" name="category" value="{{oldData.category}}"><br>
            <!--
            <label for="comments">Comments:</label><br>
            <textarea id="comments" name="comments" value="{{oldData.comments}}"></textarea><br><br>
            -->
            <input type="submit" value="Submit">
        </form>
    </div>
    <a href="/groceryLists/{{listId}}">Go Back to List</a>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>