<h1>{{pageTitle}}</h1>
<h3>My Information</h3>
<table class="profile-user">
    <tr>
        <th>First Name</th>
        <td>{{user.firstName}}</td>
        <th>Last Name</th>
        <td>{{user.lastName}}</td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>{{user.email}}</td>
        <th>Age</th>
        <td>{{user.age}}</td>
    </tr>
</table>

<h3>My Grocery Lists</h3>
<ul class="grocerys-list">
    {{#each groceryList}}
    <li class="groceryLists">
        <strong id="profile-grocery-name">{{this.groceryName}}</strong>
        <a href="/groceryLists/edit/{{this._id}}" title="Edit Grocery list" id="edit-button">Edit</a>
        <a href="/groceryLists/delete/{{this._id}}" title="Delete Grocery List" id="delete-button">Delete</a>
        {{#if this.items.length}}
        <ul>
            {{#each this.items}}
            <li>
                {{this.itemName}}
                <table>
                    <tr>
                        <th>Quantity:</th>
                        <td>{{this.quantity}}</td>
                        <th>Priority:</th>
                        <td>{{this.priority}}</td>
                    </tr>
                </table>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>This list has no items!</p>
        {{/if}}
        <p><i>{{this.dateCreated}}</i></p>
    </li>
    {{/each}}
</ul>
<h3>My Comments</h3>
<ul class="comments-list">
    {{#each comments}}
    <li class="comments">
        {{this}}
    </li>
    {{/each}}
</ul>
<h3>My Announcements</h3>
<ul class="announcements-list">
    {{#each announcements}}
    <li class="announcements-post">
        {{this.announcement}}<br>
        {{this.comment}}<br>
        <i>{{this.currentDate}}</i>
    </li>
    {{/each}}
</ul>