<h1>{{pageTitle}}</h1>
<h3>My Information</h3>
<table class="profile-user">
    <tr>
        <th>First Name</th>
        <td>{{user.firstName}}</td>
        <th>Last Name</th>
        <td>{{user.lastName}}</td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>{{user.email}}</td>
        <th>Age</th>
        <td>{{user.age}}</td>
    </tr>
</table>

<h3>My Grocery Lists</h3>
{{#if groceryList.length}}
<ul class="grocerys-list">
    {{#each groceryList}}
    <li class="groceryLists">
        <div class="buttons">
            <strong id="profile-grocery-name">{{this.groceryName}}</strong>
            <a href="/groceryLists/edit/{{this._id}}" title="Edit Grocery list" id="edit-button">Edit</a>
            <a href="/groceryLists/delete/{{this._id}}" title="Delete Grocery List" id="delete-button">Delete</a>
        </div>
        {{#if this.items.length}}
        <ul>
            {{#each this.items}}
            <li>
                {{this.itemName}}
                <table>
                    <tr>
                        <th>Quantity:</th>
                        <td>{{this.quantity}}</td>
                        <th>Priority:</th>
                        <td>{{this.priority}}</td>
                    </tr>
                </table>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>This list has no items!</p>
        {{/if}}
        <p><i>{{this.dateCreated}}</i></p>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No Grocery Lists Yet!</p>
{{/if}}

<h3>My Announcements</h3>
{{#if user.announcements.length}}
<ul class="announcements-list">
    {{#each user.announcements}}
    <li class="announcements-post">
        <ul>
            <li>{{this.announcement}}</li>
            {{#if this.comment.length}}
            <li>{{this.comment}}</li>
            {{else}}
            <!-- Only show the form if there are no comments -->
            <form method="POST" id="announcement-form">
                <label for="comment">
                    <textarea name="comment" placeholder="Leave A Comment" id="comment"
                        value="{{this.comment}}"></textarea><br>
                </label>
                <input type="hidden" id="announcementId" name="announcementId" value="{{this._id}}">
                <button type="submit">Submit</button>
            </form>
            <div id="error-output"></div>
            <script src="../public/js/announcements.js"></script>
            {{/if}}
            <i>{{this.currentDate}}</i>
        </ul>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No Announcements Yet!</p>
{{/if}}