<h1>{{pageTitle}}</h1>
<h3>My Information</h3>
<table class="profile-user">
    <tr>
        <th>First Name</th>
        <td>{{user.firstName}}</td>
        <th>Last Name</th>
        <td>{{user.lastName}}</td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>{{user.email}}</td>
        <th>Age</th>
        <td>{{user.age}}</td>
    </tr>
</table>

<h3>My Grocery Lists</h3>
<ul class="grocerys-list">
    {{#each user.groceryLists}}
    <li class="groceryLists">
        {{this}}
    </li>
    {{/each}}
</ul>
<h3>My Comments</h3>
<ul class="comments-list">
    {{#each user.comments}}
    <li class="comments">
        {{this}}
    </li>
    {{/each}}
</ul>
<h3>My Announcements</h3>
<ul class="announcements-list">
    {{#each user.announcements}}
    <li class="announcements-post">
        {{this.announcement}}<br>
        {{this.comment}}<br>
        <i>{{this.currentDate}}</i>

    </li>
    {{/each}}
</ul>